.form {
    margin: 50% 0 0 0;
    width: 515px;
    padding: 20px;
}

.data {
    margin-top: 20px;
    padding: 10px;
}

@media (max-width: 600px) {
    .form {
        width: max-content !important;
        margin: 0 auto;
        margin-top: 50%;
    }
    .form-register {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .head {
        align-items: center;
    }

    .visible {
        margin: 30px 0;
    }
    .data {
        width: max-content;
        margin: 0 auto;
        margin-top: 20px;
        padding: 10px 31.8px;
    }
}