.paper {
    padding: 16px;
    min-width: 357px;

    .info {
        * {
            height: 32px;
            margin-bottom: 0 !important;
        }

        .box {
            width: 292px;
            margin-bottom: 5px !important;

            .class {
                margin-right: 30px;
                min-width: 118px;
            }
            .user-data {
                cursor: pointer;
                width: max-content;
                display: flex;
                margin-bottom: 5px !important;
            }
            .icon {
                margin-left: 14px;
                opacity: 0;
                transition: .55s opacity;
            }
            .alert {
                width: max-content;
                padding-left: 10px !important;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
    
                * {
                    display: flex;
                    align-items: center;
                    margin-right: 0;
                    padding: 0;
                }
                svg {
                    margin-right: 5px;
                }
            }
        }
        .box:hover {
            .icon {
                opacity: 1;
                transition: .55s opacity;
            }
        }
    }
}

@media (max-width: 886px) {
    .title {
        font-size: 1.5rem !important;
    }

    .class {
        margin-right: 3px !important;
    }
}