.form {
    padding: 10px !important;

    .hide {
        display: none !important;
    }
    
    .register * {
        text-decoration: none !important;
        color: black !important;
    }
}

@media (max-width: 434px) {
    .form-register {
        justify-content: center !important;
        flex-direction: column !important;
        text-align: center !important;
        align-items: center !important;
    }
}